.content-wrapper {
    margin-top: 56px;
    background: #f0f0d0;
}

.questions-content {
    min-height: 100vh;
    background: #f0f0d0;
}

.questions-content .card-header {
    background-color: #fff;
}

.question-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.hand-icon {
    font-size: 21px;
    color: #0366d6;
}

.ama-logo {
    font-size: 1.25rem;
    color: #e90c22;
    /*color: #e44051;*/
    /*color: #de0a1f;*/
}

.question-item {
    flex: auto;
}

.stats {
    width: 120px;
    color: #0366d6;
    /*color: #586069;*/
    /*color: #0077cc;*/
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

.question-title a {
    font-weight: bold;
    color: #212529;
}

.asked-on-by {
    font-size: .75rem;
}

.qa-icon {
    font-size: 21px;
}
