.content-wrapper {
    margin-top: 56px;
    background: #f0f0d0;
}

.questions-content {
    min-height: 100vh;
    background: #f0f0d0;
}

/*.question-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

.question-item {
    flex: auto;
}

.stats {
    width: 120px;
    /*border: 1px solid;
    border-color: red;*/
    color: #0d6efd;
    /*color: #586069;*/
    /*color: #0077cc;*/
}

.question-title a {
    font-weight: bold;
    color: #212529;
}

.asked-on-by {
    font-size: .75rem;
}

.qa-icon {
    font-size: 21px;
}
