nav {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}

nav .navbar-brand {
  /*color: #e44051 !important;*/
  color: #e90c22 !important;
  /*color: #de0a1f !important;*/
}

.content-wrapper {
  margin-top: 56px;
  background: #f0f0d0;
}

.home-content,
.keywords-content {
  min-height: 100vh;
  background: #f0f0d0;
}

.home-content .card {
  border-color: #e90c22 !important;
}

.home-content .card-header {
  background: #f1e5bc;
}

.home-content .btn {
  color: #ff6f00;
  background-color: #fff;
  border-color: #ff6f00;
}

.home-content .btn:hover {
  color: #fff;
  background-color: #ff6f00;
  border-color: #ff6f00;
}

.home-icon {
  font-size: 72px;
  color: #e90c22;
}

@media (min-width: 1200px) {
  .home-content {
    /*padding-left: 200px !important;
    padding-right: 200px !important;*/
  }
}

.footer {
  height: 100px;
  background: #212529;
  /*background: #425066;*/
}

.footer a {
  color: rgba(255,255,255,.55);
  text-decoration: none;
}

.footer small {
  color: rgba(255,255,255,.35);
}

.footer a:hover {
  color: rgba(255,255,255,.75);
}
