nav {
    padding-left: 7.5rem !important;
    padding-right: 7.5rem !important;
}

nav .navbar-brand {
    /*color: #e44051 !important;*/
    color: #e90c22 !important;
    /*color: #de0a1f !important;*/
}
